<nav class="nav bg-body-tertiary">
    <div class="navbar container-fluid justify-content-space-between">
        <div>
            <a class="navbar-brand" href="/">
                <img src="/img/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Bootstrap
            </a>
        </div>
        
        <div>
            <a class="btn btn-outline-success" href="/login">Login</a>
            <a class="btn btn-primary" href="/signup">Sign up</a>
            <a class="btn btn-outline-danger" href="/logout">Log Out</a>
        </div>

    </div>

</nav>