<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/nav.ejs') %>

        <main class="container-fluid d-flex justify-content-center p-5">
            <div class="container col-md-6 bg-light border mx-5 p-5">
                <h1 class="my-3">Login</h1>
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Username</label>
                        <input type="email" class="form-control" id="email">
                        <div class="err email text-danger"></div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password">
                        <div class="err password text-danger"></div>
                    </div>
                    <button id="btn" type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </main>

        <%- include('../partials/script.ejs') %>
        <%- include('../scripts/auth-script.ejs') %>
    </body>

</html>