<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/nav.ejs') %>

            <div class="container text-center">

                <p class="fs-3 fw-semibold mx-2">My name's </p>

                <h1 class="text-success mx-2">Ye Myat Pai</h1>

                <p class="fs-3 fw-semibold mx-2">and I'm the </p>

                <span class="text-decoration-line-through fs-3 fw-semibold">greatest</span>

                <h3 class="d-inline text-success fs-3 fw-semibold">Green Lantern </h3>

                <span class="fs-3 fw-semibold">of </span>

                <h3 class="text-success">Sector 2814</h3>
            </div>
            <%- include('../partials/script.ejs') %>
    </body>

</html>